<script>
$(document).ready(function(){

    // =====================
    // CompetitionType duplicates & modali
    // =====================
    const existingCompetitionNames = [
        {% for item in competition_items %}
            "{{ item.name|lower }}",
        {% endfor %}
    ];

    // New CompetitionType
    $('#newCompetitionModal input[name="name"]').on('input', function(){
        const val = $(this).val().trim().toLowerCase();
        if(existingCompetitionNames.includes(val)){
            $('#newCompetitionModal button[type="submit"]').prop('disabled', true);
            $('#nameExistsWarning').show();
        } else {
            $('#newCompetitionModal button[type="submit"]').prop('disabled', false);
            $('#nameExistsWarning').hide();
        }
    });

    $('#newCompetitionModal').on('show.bs.modal', function () {
        $(this).find('input[name="name"]').val('');
        $(this).find('#nameExistsWarning').hide();
        $(this).find('button[type="submit"]').prop('disabled', false);
    });

    // Edit CompetitionType
    $('#editCompetitionModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var name = button.data('name');
        var modal = $(this);
        modal.find('input[name="name"]').val(name);
        modal.find('#editCompetitionForm').attr('action', '/nastavitve/edit_competition_type/' + id);
        modal.find('#editNameWarning').hide();
        modal.find('button[type="submit"]').prop('disabled', false);

        modal.find('input[name="name"]').off('input').on('input', function(){
            var val = $(this).val().trim().toLowerCase();
            if(existingCompetitionNames.includes(val) && val !== name.toLowerCase()){
                modal.find('#editNameWarning').show();
                modal.find('button[type="submit"]').prop('disabled', true);
            } else {
                modal.find('#editNameWarning').hide();
                modal.find('button[type="submit"]').prop('disabled', false);
            }
        });
    });

    // Delete CompetitionType
    $('#competitionDeleteModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const name = button.data('name')
        const id = button.data('id')
        $(this).find('#competitionDeleteItemName').text(name)
        $(this).find('form').attr('action', '/nastavitve/delete_competition_type/' + id)
    });

    // =====================
    // Style duplicates & modali
    // =====================
    const existingStyleNames = [
        {% for item in style_items %}
            "{{ item.name|lower }}",
        {% endfor %}
    ];

    // New Style
    $('#newStyleModal input[name="name"]').on('input', function(){
        const val = $(this).val().trim().toLowerCase();
        if(existingStyleNames.includes(val)){
            $('#newStyleModal button[type="submit"]').prop('disabled', true);
            $('#newStyleNameWarning').show();
        } else {
            $('#newStyleModal button[type="submit"]').prop('disabled', false);
            $('#newStyleNameWarning').hide();
        }
    });

    $('#newStyleModal').on('show.bs.modal', function () {
        $(this).find('input[name="name"]').val('');
        $(this).find('#newStyleNameWarning').hide();
        $(this).find('button[type="submit"]').prop('disabled', false);
    });

    // Edit Style
    $('#editStyleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var name = button.data('name');
        var modal = $(this);
        modal.find('input[name="name"]').val(name);
        modal.find('#editStyleForm').attr('action', '/nastavitve/edit_style/' + id);
        modal.find('#editStyleNameWarning').hide();
        modal.find('button[type="submit"]').prop('disabled', false);

        modal.find('input[name="name"]').off('input').on('input', function(){
            var val = $(this).val().trim().toLowerCase();
            if(existingStyleNames.includes(val) && val !== name.toLowerCase()){
                modal.find('#editStyleNameWarning').show();
                modal.find('button[type="submit"]').prop('disabled', true);
            } else {
                modal.find('#editStyleNameWarning').hide();
                modal.find('button[type="submit"]').prop('disabled', false);
            }
        });
    });

    // Delete Style
    $('#styleDeleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var name = button.data('name')
        $(this).find('#styleDeleteItemName').text(name)
        $(this).find('form').attr('action', '/nastavitve/delete_style/' + id)
    })

    $('#categoryDeleteModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget)
    const id = button.data('id')
    const name = button.data('name')

    $(this).find('#categoryDeleteItemName').text(name)
    $(this).find('form').attr('action', '/nastavitve/delete_category/' + id)
  })

  // EDIT
  $('#categoryEditModal').on('show.bs.modal', function (e) {
    const btn = $(e.relatedTarget)

    $('#editCategoryName').val(btn.data('name'))
    $('#editCategoryGender').val(btn.data('gender'))
    $('#editCategoryParent').val(btn.data('parent'))

    $('#categoryEditForm')
      .attr('action', '/nastavitve/edit_category/' + btn.data('id'))
  })

  // DELETE
  $('#categoryDeleteModal').on('show.bs.modal', function (e) {
    const btn = $(e.relatedTarget)
    $('#categoryDeleteItemName').text(btn.data('name'))
    $('#categoryDeleteForm')
      .attr('action', '/nastavitve/delete_category/' + btn.data('id'))
  })

  // =====================
// SubCategory duplicates & modali
// =====================

const existingSubCategoryNames = [
    {% for item in subcategory_items %}
        "{{ item.name|lower }}",
    {% endfor %}
];

// New SubCategory
$('#newSubCategoryModal input[name="name"]').on('input', function(){
    const val = $(this).val().trim().toLowerCase();
    if(existingSubCategoryNames.includes(val)){
        $('#newSubCategoryModal button[type="submit"]').prop('disabled', true);
        $('#newSubCategoryNameWarning').show();
    } else {
        $('#newSubCategoryModal button[type="submit"]').prop('disabled', false);
        $('#newSubCategoryNameWarning').hide();
    }
});

$('#newSubCategoryModal').on('show.bs.modal', function () {
    $(this).find('input[name="name"]').val('');
    $(this).find('#newSubCategoryNameWarning').hide();
    $(this).find('button[type="submit"]').prop('disabled', false);
});

// Edit SubCategory
$('#editSubCategoryModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget);
    const id = button.data('id');
    const name = button.data('name');
    const modal = $(this);

    modal.find('input[name="name"]').val(name);
    modal.find('#editSubCategoryForm')
         .attr('action', '/nastavitve/edit_subcategory/' + id);

    modal.find('#editSubCategoryNameWarning').hide();
    modal.find('button[type="submit"]').prop('disabled', false);

    modal.find('input[name="name"]').off('input').on('input', function(){
        const val = $(this).val().trim().toLowerCase();
        if(existingSubCategoryNames.includes(val) && val !== name.toLowerCase()){
            modal.find('#editSubCategoryNameWarning').show();
            modal.find('button[type="submit"]').prop('disabled', true);
        } else {
            modal.find('#editSubCategoryNameWarning').hide();
            modal.find('button[type="submit"]').prop('disabled', false);
        }
    });
});

// Delete SubCategory
$('#subCategoryDeleteModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget);
    const id = button.data('id');
    const name = button.data('name');

    $(this).find('#subCategoryDeleteItemName').text(name);
    $(this).find('form')
           .attr('action', '/nastavitve/delete_subcategory/' + id);
});


  // =====================
  // CompetitionSubType
  // =====================

  const existingCompetitionSubTypes = [
    {% for item in competition_subtype_items %}
      {
        name: "{{ item.name|lower }}",
        competition_type_id: "{{ item.competition_type_id }}"
      },
    {% endfor %}
  ];

  // ---------------------
  // NEW CompetitionSubType
  // ---------------------
  $('#newCompetitionSubTypeModal').on('show.bs.modal', function () {
    $(this).find('input[name="name"]').val('');
    $(this).find('input[name="arrows"]').val('');
    $(this).find('select[name="competition_type_id"]').val('');
    $(this).find('#newCompetitionSubTypeNameWarning').hide();
    $(this).find('button[type="submit"]').prop('disabled', false);
  });

  $('#newCompetitionSubTypeModal input, #newCompetitionSubTypeModal select')
    .on('input change', function () {

      const modal = $('#newCompetitionSubTypeModal');
      const name = modal.find('input[name="name"]').val().trim().toLowerCase();
      const competitionTypeId = modal.find('select[name="competition_type_id"]').val();

      const exists = existingCompetitionSubTypes.some(item =>
        item.name === name && item.competition_type_id === competitionTypeId
      );

      if (exists && name && competitionTypeId) {
        modal.find('#newCompetitionSubTypeNameWarning').show();
        modal.find('button[type="submit"]').prop('disabled', true);
      } else {
        modal.find('#newCompetitionSubTypeNameWarning').hide();
        modal.find('button[type="submit"]').prop('disabled', false);
      }
  });

  // ---------------------
  // EDIT CompetitionSubType
  // ---------------------
  $('#editCompetitionSubTypeModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget);
    const id = button.data('id');
    const name = button.data('name');
    const competitionTypeId = button.data('competition_type');
    const arrows = button.data('arrows');

    const modal = $(this);

    modal.find('input[name="name"]').val(name);
    modal.find('input[name="arrows"]').val(arrows);
    modal.find('select[name="competition_type_id"]').val(competitionTypeId);

    modal.find('#editCompetitionSubTypeForm')
      .attr('action', '/nastavitve/edit_competition_subtype/' + id);

    modal.find('#editCompetitionSubTypeNameWarning').hide();
    modal.find('button[type="submit"]').prop('disabled', false);

    modal.find('input, select').off('input change').on('input change', function () {
      const newName = modal.find('input[name="name"]').val().trim().toLowerCase();
      const newType = modal.find('select[name="competition_type_id"]').val();

      const exists = existingCompetitionSubTypes.some(item =>
        item.name === newName &&
        item.competition_type_id === newType &&
        !(item.name === name.toLowerCase() && item.competition_type_id == competitionTypeId)
      );

      if (exists && newName && newType) {
        modal.find('#editCompetitionSubTypeNameWarning').show();
        modal.find('button[type="submit"]').prop('disabled', true);
      } else {
        modal.find('#editCompetitionSubTypeNameWarning').hide();
        modal.find('button[type="submit"]').prop('disabled', false);
      }
    });
  });

  // ---------------------
  // DELETE CompetitionSubType
  // ---------------------
  $('#competitionSubTypeDeleteModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget);
    const id = button.data('id');
    const name = button.data('name');

    $(this).find('#competitionSubTypeDeleteItemName').text(name);
    $(this).find('form')
      .attr('action', '/nastavitve/delete_competition_subtype/' + id);
  });

});
</script>
