{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Najboljši rezultati – poljsko</h1>

{% for style_name in styles %}
<h2>{{ style_name }}</h2>

<table class="records">
<thead>
<tr>
  <th>CompetitionSubtype</th>
  <th>arrows</th>
  <th>lice</th>
  <th>result</th>
  <th>tekmovalec</th>
  <th>klub</th>
  <th>kraj</th>
  <th>datum</th>
  <th></th>
  <th></th>
</tr>
</thead>

<tbody>
{% for category, subcats in grouped_results[style_name].items() %}
  {% for subcategory, records in subcats.items() %}
    <!-- Category -->
    <tr class="category-row">
      <td colspan="10"><strong>{{ category }}</strong></td>
    </tr>
    <!-- SubCategory -->
    <tr class="subcategory-row">
      <td colspan="10">{{ subcategory }}</td>
    </tr>
    <!-- podatkovne vrstice -->
    {% for r in records %}
    <tr>
      <td>{{ r.competition_subtype.name if r.competition_subtype else '—' }}</td>
      <td>{{ r.competition_subtype.arrows if r.competition_subtype else '—' }}</td>
      <td>{{ r.competition_subtype.lice if r.competition_subtype else '—' }}</td>
      <td><strong>{{ r.result }}</strong></td>
      <td>{{ r.competitor_name }}</td>
      <td>{{ r.club or '—' }}</td>
      <td>{{ r.location or '—' }}</td>
      <td>{{ r.date.strftime("%d.%m.%Y") }}</td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
  {% endfor %}
{% endfor %}
</tbody>
</table>
{% endfor %}


{% endblock %}
