.records {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.records th, .records td {
    padding: 0px 8px;
    text-align: left;
}

.records th {
    font-weight: bold;
}

.category-row td {
    color: #009acd;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    border: none;
}

.subcategory-row td {
    color: #666666;
    padding-left: 20px;
    font-weight: bold;
}

.records tr td:first-child {
    width: 15%;
}

.records tr td:nth-child(2),
.records tr td:nth-child(3),
.records tr td:nth-child(4) {
    text-align: center;
    width: 10%;
}

.records tr th:nth-child(2),
.records tr th:nth-child(3),
.records tr th:nth-child(4) {
    text-align: center;
}

.records tr td:nth-child(8) {
    width: 12%;
}

.records strong {
    font-weight: bold;
}
h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
h2 {
    background: #c0c0c0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 7px 7px;
}

h3 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
/* šteje samo data-row vrstice */
.records tr.data-row:nth-of-type(even) {
    background-color: #f2f2f2;
    border-top: solid #dcdcdc 1px;
    border-bottom: solid #dcdcdc 1px;
}

.records tr.data-row:nth-of-type(odd) {
    background-color: white;
    border-top: solid #dcdcdc 1px;
    border-bottom: solid #dcdcdc 1px;
}

.style-header {
    display: grid;
    grid-template-columns: 1fr auto;   /* tekst zasede prostor, slika svojo širino */
    align-items: center;

    margin: 0 auto;                    /* centriranje bloka */
     column-gap: 30px;   /* 👈 TO je tvojih 30px belega */
}

.style-header .titles {
    text-align: center;                /* h1 in h2 na sredino strani */
}

.style-header .logo img {
    height: 100px;
    page-break-inside: avoid;
}

hr {
    height: 2px;        /* višina črte */
    border: none;       /* odstranimo privzeti rob */
    background-color: black;  /* ali katera koli barva želiš */
    margin: 2px 0;     /* optional – prostor nad/spodaj */
}

