body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

.col-result {
  width: 40px;
  min-width: 20px;
  max-width: 50px;
  white-space: nowrap;
}

.col-result input {
  padding-left: 4px;
  padding-right: 4px;
}

table.records {
    border-collapse: collapse;
    width: 100%;
  }

  table.records th,
  table.records td {
    border: 1px solid #333; /* črni robovi */
    padding: 6px 10px;
    text-align: left;
  }


  table.records tr:nth-child(even) td {
    background-color: #fafafa; /* rahlo obarvane vsake druge vrstice */
  }

