{% extends "base.html" %}
{% block content %}
<h2>Add New Record</h2>
<form method="post">
    <select name="type" required>
       <option value="Tarčno">Tarčno</option>
       <option value="Dvorana">Dvorana</option>
       <option value="3-D">3-D</option>
       <option value="Poljsko">Poljsko</option>
       <option value="Clout">Clout</option>
       <option value="Flight">Flight</option>
    </select><br>
    <input type="text" name="bow_type" placeholder="Bow Type"><br>
    <input type="text" name="participants" placeholder="Participants"><br>
    <input type="text" name="individual_or_team" placeholder="Individual/Team"><br>
    <input type="text" name="round_type" placeholder="Round Type"><br>
    <input type="number" name="score" placeholder="Score"><br>
    <input type="text" name="archer" placeholder="Archer"><br>
    <input type="text" name="club" placeholder="Club"><br>
    <input type="text" name="location" placeholder="Location"><br>
    <input type="date" name="date"><br>
    <select name="record_type" required>
        <option value="državni rekord">državni rekord</option>
        <option value="najboljši rezultat">najboljši rezultat</option>
    </select>
    <br><br>
    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
