{% extends 'base.html' %}

{% block content %}

<h1>Backup rekordov</h1>

<form method="post" action="{{ url_for('backup_records') }}">

  <div style="margin-bottom: 1em;">
    <label>Izberi discipline:</label><br>
    {% for dt in competition_types %}
      <input type="checkbox" name="competition_types" value="{{ dt.id }}" checked> {{ dt.name }}<br>
    {% endfor %}
  </div>

  <div style="margin-bottom: 1em;">
    <label for="date_limit">
      Backup samo od datuma:
    </label><br>
    <input type="date" id="date_limit" name="date_limit" title="Shrani samo rekorde od tega datuma">
  </div>

  <div style="margin-bottom: 1em;">
    <label for="filename">Ime datoteke:</label><br>
    <input type="text" id="filename" name="filename" value="records_backup" style="width:300px;">
  </div>

  <button type="submit" class="btn btn-success">Backup rekordov</button>

</form>

{% endblock %}