{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('add_record') }}" class="btn btn-primary mb-3">Add New Record</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Style</th>
            <th>Category</th>
            <th>Individual/team</th>
            <th>Details</th>
            <th>Arrows</th>
            <th>Score</th>
            <th>Archer</th>
            <th>Club</th>
            <th>Location</th>
            <th>Date</th>
            <th>Record type</th>
        </tr>
    </thead>
    <tbody>
        {% for r in records %}
        <tr>
            <td>{{ r.type }}</td>                   <!-- tip -->
            <td>{{ r.style }}</td>                  <!-- Sestavljeni lok -->
            <td>{{ r.category }}</td>               <!-- Članice -->
            <td>{{ r.individual_or_team }}</td>     <!-- Posamezno -->
            <td>{{ r.details }}</td>                <!-- 25m + 18m -->
            <td>{{ r.arrows }}</td>                 <!-- Puščice -->
            <td>{{ r.score }}</td>                  <!-- Rezultat -->
            <td>{{ r.archer }}</td>                 <!-- Lokostrelec -->
            <td>{{ r.club }}</td>                    <!-- Klub -->
            <td>{{ r.location }}</td>               <!-- Kraj tekmovanja, če ni isto kot Dvorana -->
            <td>{{ r.date.strftime('%d.%m.%Y') if r.date else '' }}</td>  <!-- Datum -->
            <td>{{ r.record_type }}</td>            <!-- Tip rezultata -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
