{% extends 'base.html' %}

{% block content %}

<h1>Rekordi</h1>
<ul>
  <li><a href="{{ url_for('best_target') }}">Tarčno</a></li>
  <li>Dvorana</li>
  <li><a href="{{ url_for('best_flight') }}">Flight</a></li>
  <li>Clout</li>
</ul>

<h1>Najboljši rezultati</h1>
<ul>
  <li>Poljsko
    <!-- Link za predogled -->
    <a href="{{ url_for('best_field') }}" class="btn btn-secondary">Predogled</a>
    <!-- Link za PDF -->
    <a href="{{ url_for('best_field_pdf') }}" class="btn btn-primary" target="_blank">Shrani kot PDF 🖨️</a>
  </li>
  <li><a href="{{ url_for('best_3d') }}">3D</a></li>
</ul>

<h1>Rekordi in najboljši rezultati</h1>
<ul><li>vsi skupaj</li>
  <li>za tekoče leto</li>
  <li>po nosilcih</li>
  <li>po klubih</li>
</ul>


{% endblock %}